.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 21%, 0.765);
  margin: 1em;
  user-select: none;

 }

 .activeCard {
  color: rgb(255, 255, 255);
  background: rgb(86, 255, 74);
 }
 